<div class="row loginPage" >
  <div class="col-md-6">
    <h2>OD to Footage</h2>

    <form class="form login-form">
      <div class="form-group">
        <label for="email-login">Thickness (MIL):</label>
        <input class="form-input" type="text" id="email-login" />
      </div>
      <div class="form-group">
        <label for="password-login">OD:</label>
        <input class="form-input" type="password" id="password-login" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Calculate</button>
      </div>
    </form>
  </div>
  <div class="col-md-6">
    <h2>Footage to OD</h2>

    <form class="form signup-form">
      <div class="form-group">
        <label for="email-signup">Thickness(MIL):</label>
        <input class="form-input" type="text" id="email-signup" />
      </div>
      <div class="form-group">
        <label for="password-signup">Footage:</label>
        <input class="form-input" type="password" id="password-signup" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Calculate</button>
      </div>
    </form>
  </div>

</div>

<h2 class="text-center">Sorry Di, still under construction.</h2>