<div class="row loginPage" >

  <div class="col-md-6">

    <h2>OD to Footage</h2>

    <form class="form" id="OtF-form">

      <div class="form-group">
        <label for="OtF-thickness">Thickness (MIL):</label>
        <input class="form-input" type="text" id="OtF-thickness" />
      </div>

      <div class="form-group">
        <label for="Otf-OD">OD:</label>
        <input class="form-input" type="text" id="Otf-OD" />
      </div>

      <div class="form-group">
        <button class="btn btn-primary" type="submit">Calculate</button>
      </div>

    </form>

    <h2 class="text-center" id="OtF-answer"></h2>

  </div>

  <div class="col-md-6">

    <h2>Footage to OD</h2>

    <form class="form" id="FtO-form">

      <div class="form-group">
        <label for="FtO-thickness">Thickness(MIL):</label>
        <input class="form-input" type="text" id="FtO-thickness" />
      </div>

      <div class="form-group">
        <label for="FtO-footage">Footage:</label>
        <input class="form-input" type="text" id="FtO-footage" />
      </div>

      <div class="form-group">
        <button class="btn btn-primary" type="submit">Calculate</button>
      </div>

    </form>

    <h2 class="text-center" id="FtO-answer"></h2>

  </div>

</div>

<script src="OD-Calc.js"></script>